* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0d0714;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  max-width: 500px;
  margin: 50px auto;
  padding: 50px 0px;
  background-color: #1d1825;
  border-radius: 20px;
  padding: 40px;
}
.input-bar {
  display: flex;
  width: 100%;
}
#taskInput {
  width: 100%;
  height: 40px;
  padding: 12px 15px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #3e1671;
  border-radius: 10px;
  margin-right: 10px;
  color: white;
}
#taskInput:focus {
  outline: none;
}
#addTask {
  background-color: #9e78cf;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  width: 40px;
  transition: 300ms;
}
#addTask:hover {
  background-color: #3e1671;
  transition: 300ms;
}
.container {
  margin-top: 50px;
}
.container p {
  color: white;
  font-size: 16px;
}
li {
  list-style: none;
}
#taskList li {
  width: 100%;
  background-color: #15101c;
  color: #9e78cf;
  padding: 26px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.deleteBtn {
  width: 20px;
}
.taskControl img {
  margin-left: 20px;
  cursor: pointer;
}
.donetasktext {
  color: #78cfb0 !important;
  text-decoration: line-through;
}
